# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
venv/
.venv/
env/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
.env

# Logs and databases
*.log
*.db

# ML models - We are now checking in the models for this project
# app/ml/models/
